.LLMAssistantWidget {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
  font-style: normal !important;
  text-align: center !important;
  line-height: 20px !important;
  box-sizing: unset !important;
  position: -webkit-sticky !important;
  position: sticky !important
}

.rcw-close-button {
  display: none !important
}

.rcw-widget-container {
  max-width: 440px !important;
  right: 32px !important;
  bottom: 32px !important;
  margin: 0 !important
}

@media screen and (max-width:800px) {
  .rcw-widget-container.rcw-opened {
    height: auto !important
  }
}

.rcw-question-separator {
  background-color: #cddae5 !important;
  width: 332px !important;
  height: 1px !important;
  border: none !important
}

.rcw-message:has(.rcw-disclaimer-info) {
  height: 49px !important
}

.rcw-disclaimer-info {
  width: 408px;
  border-bottom: 1px solid #cddae5 !important;
  padding: 16px !important;
  text-align: left !important;
  float: right !important;
  font-size: 12px !important;
  line-height: 16px !important;
  background: #f2f5f7;
  color: #5d7283 !important;
  border-radius: 4px !important;
  margin: -16px -16px 0 !important;
  position: fixed !important
}

.rcw-info {
  width: 20px !important;
  height: 20px !important;
  float: left !important;
  padding: 6px 16px 0 0 !important;
  box-sizing: unset !important
}

.rcw-loading-img {
  height: 32px !important
}

.rcw-response {
  padding: 12px 16px !important;
  color: #1f272d !important;
  background-color: #f2f5f7 !important;
  border-radius: 16px !important
}

.rcw-response .rcw-message-text p {
  font-weight: 400 !important;
  font-size: 13px !important;
  color: #1f272d !important
}

.rcw-response .rcw-message-text pre {
  white-space: pre-wrap !important;
  padding: 16px !important;
  grid-gap: 8px !important;
  gap: 8px !important;
  background: #e4ecf1 !important;
  border-radius: 8px !important
}

.rcw-loading {
  line-height: 8px !important;
  font-weight: 700 !important;
  vertical-align: middle !important
}

.rcw-loading:after {
  content: ". . ." !important;
  overflow: hidden !important;
  -webkit-animation: ellipsis-dot 1s .3s infinite !important;
  animation: ellipsis-dot 1s .3s infinite !important;
  -webkit-animation-fill-mode: forwards !important;
  animation-fill-mode: forwards !important;
  width: 1.25em !important
}

@-webkit-keyframes ellipsis-dot {
  50% {
    content: "."
  }

  75% {
    content: ". ."
  }

  to {
    content: ". . ."
  }
}

@keyframes ellipsis-dot {
  50% {
    content: "."
  }

  75% {
    content: ". ."
  }

  to {
    content: ". . ."
  }
}

.rcw-client {
  background: #0e538b !important;
  border-radius: 16px !important;
  padding: 12px 16px !important;
  margin-right: 8px
}

.rcw-client .rcw-message-text p {
  color: #fff !important
}

.rcw-client .rcw-message-text p,
.rcw-message {
  font-weight: 400 !important;
  font-size: 13px !important
}

.rcw-message {
  margin: 16px !important
}

.rcw-conversation-container .rcw-header {
  background-color: #fff !important;
  color: #000 !important;
  padding: 16px 0 !important;
  text-align: left !important;
  border-bottom: 1px solid #cddae5 !important
}

.rcw-conversation-container .rcw-header .rcw-title {
  margin: 0 !important;
  padding: 0 !important;
  font-weight: 600 !important;
  font-size: 14px !important
}

.rcw-conversation-container {
  max-width: 440px !important;
  height: 620px !important;
  margin-bottom: 16px !important;
  background: #fff !important;
  box-shadow: 0 4px 16px rgba(31, 39, 45, .12) !important;
  border-radius: 8px !important
}

.rcw-send-icon {
  height: 18px !important;
  width: 21px !important;
  -webkit-filter: invert(43%) sepia(23%) saturate(429%) hue-rotate(165deg) brightness(94%) contrast(86%) !important;
  filter: invert(43%) sepia(23%) saturate(429%) hue-rotate(165deg) brightness(94%) contrast(86%) !important
}

.rcw-send {
  padding: 0 !important
}

.rcw-send,
.rcw-sender {
  background-color: #fff !important
}

.rcw-sender {
  position: fixed !important;
  width: 408px !important;
  bottom: 0 !important;
  padding: 16px !important;
  height: 32px !important;
  border-radius: 0 !important;
  border-top: 1px solid #cddae5 !important;
  box-sizing: unset !important
}

.rcw-new-message {
  padding: 0 !important;
  height: 20px !important;
  background-color: #fff !important;
  font-size: 13px !important
}

.rcw-messages-container {
  padding-top: 0 !important;
  max-height: 502px !important;
  height: auto !important
}

.rcw-conversation-container .avatar {
  padding-left: 24px !important;
  border-radius: 0 !important
}

.rcw-avatar,
.rcw-conversation-container .avatar {
  width: 16px !important;
  height: 16px !important;
  box-sizing: unset !important
}

.rcw-avatar {
  padding: 8px;
  margin: 0 8px !important;
  background: #fff5f7 !important
}

.rcw-custom-launcher {
  width: 50px !important;
  height: 50px !important;
  left: 126px !important;
  top: 0 !important;
  align-self: flex-end !important;
  border: 0 !important;
  border-color: transparent !important;
  border-radius: 50% !important;
  background: #fff !important;
  box-shadow: 0 4px 16px rgba(31, 39, 45, .12) !important
}

.rcw-close-launcher {
  padding-top: 6px !important
}

.quick-button {
  background: #0e538b !important;
  border-radius: 4px !important;
  border: 0 !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  line-height: 20px !important;
  color: #fff !important;
  margin-bottom: 8px !important
}

.quick-buttons-container {
  padding: 16px !important
}

.rcw-sources-title {
  color: #5d7283 !important;
  -webkit-margin-after: 0 !important;
  margin-block-end: 0 !important;
  font-size: 13px !important
}

.rcw-sources {
  margin-top: 5px !important
}

.rcw-link {
  color: #2272b4 !important;
  -webkit-text-decoration-line: none !important;
  text-decoration-line: none !important;
  font-size: 13px !important
}

/*# sourceMappingURL=main.f5e59635.chunk.css.map */